body{
    font-family: monospace;
    
}

.box{
    padding:2rem;
    width: 40%;
    margin-top: 5%;
    margin-left:25%;
    border:1px solid blue;
}
img{
    width:30%;
    height:30%;
 
     margin-left:35%;
     border-radius:50%;
}

input[type=text],input[type=password]{
    width: 100%;
    display: inline-block;
    margin: 0.56rem;
    padding:0.5rem 0.5rem;
    box-sizing: border-box;
    border:1px solid  #ccc;
}
button{
    background-color:#04AA6D;
    border:none;
    margin:0.5rem 2rem 0.5rem 0.5rem;
    padding: .5rem;
    width:100%;
    cursor:pointer;
    
}
button:hover{
    opacity:0.85;
}
.cancelbtn{
   
   background-color:rgb(247, 75, 75);
}
#btn{
    display:block;
}
.cancel{
    width:100%;
    background-color: rgb(218, 216, 216);
    margin-left: 0.5rem;;
}
.cancel button{
    width: 40%;
    box-sizing: border-box;
    
}
/* media query for cancel button  */
@media only screen and (max-width:880px){
    .cancelbtn{
        display: block;

    }
    input[type=text],input[type=password]{
        width:7rem;
    }
    button{
        width:7rem;
    }
}
